@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

.Brand-name {
    color:#e2e2e2;
    font-size: 21px !important;
    font-family: 'Raleway', Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-wrap: break-word;
    display: block;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
    line-height: 1.2;
    max-width: 100%;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-bottom: 30px;
   

}

.about{
    color: #a5a5a5f5;
}

.Brand-name1{
display: none;

}

.navbar {
    background-color: rgba(0, 0, 0, 0.654);
    }

@media (max-width: 1000px) { 
    .navbar{
        padding-bottom: 3%;
        

    }

    .Brand-name1{
      font-size: 17px!important;
      line-height: 1.2;
      margin-left:12%;
      background-color: rgba(0, 0, 0, 0);
      text-align: center;
      margin-left: 25%;
      margin-top: 6%;

     
    }

}